.btn button {
  min-width: 180px;
  cursor: pointer;
  height: 49px;
  border-radius: 8px;
  border: 2px solid #2b2b36;
  outline: none;
  background: none;
  color: #fff;
  transition: 0.6s ease-in-out;

  &:hover {
    background-color: #2b2b36;
  }
}
