* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

body {
    background: #181820;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.mr-2 {
    margin-right: 8px;
}
.mr-4 {
    margin-right: 16px;
}
.ml-2 {
    margin-left: 8px;
}
.ml-4 {
    margin-left: 16px;
}
.pl-2 {
    padding-left: 8px;
}
.pr-2 {
    padding-right: 8px;
}
.mt-2 {
    margin-top: 8px;
}
.mt-4 {
    margin-top: 16px;
}

.mb-4 {
    margin-bottom: 16px;
}
.mb-2 {
    margin-bottom: 8px;
}
.p0 {
    padding: 0 !important;
}
